body {
  margin: 0;
  font-family: 'Apple SD Gothic Neo', sans-serif;
  text-align: center;
  line-height: 1.6;
  background: #fafafa;
  color: #333;
}

section {
  padding: 60px 20px;
}

.hero {
  height: 100vh; /* 화면 꽉 채우기 */
  background-image: url("IMG_9799.jpeg");
  background-size: cover;        /* 화면에 꽉 차게 */
  background-position: center;   /* 가운데 정렬 */
  background-repeat: no-repeat;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: white;
  text-align: center;
  position: relative;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 22px;
  margin-bottom: 20px;
}

.gift {
  font-size: 14px;
  opacity: 0.7;
}

.small {
  font-size: 13px;
}

button {
  padding: 10px 20px;
  border: none;
  background: #333;
  color: white;
  border-radius: 20px;
  margin-top: 15px;
}

